<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Страна</title>
</head>
<body>
   
    {% if country.count > 0 %}
    <h2>Список стран производителей</h2>
    <table>
        <thead><th>Id</th><th>Название страны</th></th></thead>
        {% for hcountry in country %}
        <tr>
            <td>{{ hcountry.id }}</td>
            <td>{{ hcountry.country }}</td>
            <td><a href="edit/{{person.id}}">Изменить</a> | <a href="delete/{{person.id}}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form>
        <p style="text-align: left"><button formaction = 'index'>На главную страницу</button>
    </form> 
 {% comment %} <form method="POST" action="create/">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>
        <p>
            <label>Введите возраст</label><br>
            <input type="number" name="age" />
        </p>
        <input type="submit" value="Сохранить" >
    </form> {% endcomment %}

</body>
</html>