h2{
  display: inline;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 0;
  width: 1920px;
}

table{
  width: 500px;
  text-align: center;
  border-collapse: collapse;

}
.table-heading{
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  border: 1px solid green;
  text-align: center;

}  
.col{
  text-align: center;
  border: 2px solid green; 
}
.body{
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* width: 600px; */
}
 